<!-- Bootstrap -->
<div class="px-4 py-5 my-5 text-center">

  <h1 class="display-5 fw-bold text-body-emphasis">Add a new board</h1>
  <div class="col-lg-6 mx-auto">
    <% if current_user != nil %>

      <form action="/insert_board" method="post">
        <div class="mb-3">
          <label for="name_box" class="form-label">Name</label>
          <input type="text" class="form-control" id="name_box" name="query_name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    <%else%>
      <p>Must be <a href="/users/sign_in">signed in</a> to add a new board.</p>
    <%end%>
  </div>
</div>
</div>

<!-- end-->

<!-- List of boards-->

<ul class="list-group">
  <% @list_of_boards.each do |a_board| %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="/boards/<%= a_board.id %>">
            <%= a_board.name %>
          </a></div>
        <div>

          <% matching_users = User.where({ :id => a_board.user_id }) %>
          <% the_user = matching_users.at(0)%>
          Owner: <%= the_user.email %>
        </div>
      </div>
    </li>
  <%end%>
</ul>
